%form{:action => search_suggestions_path, :method=> "get", :class=>"well"}
  %h3 What do you want to see in our product?
  %div.input-append#search-field
    = text_field_tag(:q,'', :placeholder=> "Look for existing suggestions first", :autocomplete=>"off", :value=>params[:q])+raw('<input class="btn" type="submit" value="Search"/>')